@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

:root {
  font-family: 'JetBrains Mono', 'Fira Code', Menlo, monospace;
  line-height: 1.6;
  font-weight: 400;
  background-color: #050505;
  color: #f7f5ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050505;
  color: #f7f5ef;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

#root {
  width: 100%;
}

a {
  color: #f6c343;
  text-decoration: none;
}
